/* src/components/Navbar.css */

/* AppBar at the top */
.appbar {
  background-color: #558B2F;
}

.appbar-button:hover {
  background-color: #7F9E50;
}

/* Drawer component */
.drawer-list {
  width: 250px;
  padding: 20px;
}

.drawer-list a {
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
}

.drawer-list a:hover {
  color: #558B2F;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-top: 10px; /* Adjust this value to control the space above the logo */
}

/* Optional for Mobile Styling */
@media (max-width: 768px) {
  .menu-icon {
    display: block; /* Ensure menu icon is visible on mobile */
  }
}

